# Ignore all logfiles and tempfiles
/tmp/
/tags

# Environment normalisation
/.rspec-local
/.yardoc
/_yardoc
/lib/bundler/man/

# Gem packaging stuff
/*.gem
/pkg/

# Dependencies and such
/.bundle
/.ruby-version

# Spec housekeeping
/coverage/
/spec/reports
.rspec_status
